<a href="https://colab.research.google.com/github/Thinh127/Diabetes-Sklearn-Data/blob/main/HW1_PROBLEM_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, Lasso

### Exploring data

In [ ]:
diabetes = datasets.load_diabetes(as_frame=True)
print("Features: ", diabetes.feature_names)

Features:  ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [ ]:
df = diabetes.data
df.head()

        age       sex       bmi  ...        s4        s5        s6
0  0.038076  0.050680  0.061696  ... -0.002592  0.019908 -0.017646
1 -0.001882 -0.044642 -0.051474  ... -0.039493 -0.068330 -0.092204
2  0.085299  0.050680  0.044451  ... -0.002592  0.002864 -0.025930
3 -0.089063 -0.044642 -0.011595  ...  0.034309  0.022692 -0.009362
4  0.005383 -0.044642 -0.036385  ... -0.002592 -0.031991 -0.046641

[5 rows x 10 columns]

In [ ]:
df.drop(columns='sex', inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df.nunique()

age     58
bmi    163
bp     100
s1     141
s2     302
s3      63
s4      66
s5     184
s6      56
dtype: int64

In [ ]:
df.describe()

                age           bmi  ...            s5            s6
count  4.420000e+02  4.420000e+02  ...  4.420000e+02  4.420000e+02
mean  -3.634285e-16 -8.045349e-16  ... -3.830854e-16 -3.412882e-16
std    4.761905e-02  4.761905e-02  ...  4.761905e-02  4.761905e-02
min   -1.072256e-01 -9.027530e-02  ... -1.260974e-01 -1.377672e-01
25%   -3.729927e-02 -3.422907e-02  ... -3.324879e-02 -3.317903e-02
50%    5.383060e-03 -7.283766e-03  ... -1.947634e-03 -1.077698e-03
75%    3.807591e-02  3.124802e-02  ...  3.243323e-02  2.791705e-02
max    1.107267e-01  1.705552e-01  ...  1.335990e-01  1.356118e-01

[8 rows x 9 columns]

###**(a)** Split the dataset to training set and test set using the ratio training set : test set = 8: 2

In [ ]:
# Hợp các features lại thành một ma trận. Lấy nhãn y
X, y = datasets.load_diabetes(return_X_y=True)

print(X.shape)
print(y.shape)

(442, 10)
(442,)

In [ ]:
# Chia trainset, testset
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=12)

print(Xtrain.shape, Xtest.shape)
print(ytrain.shape, ytest.shape)

(353, 10) (89, 10)
(353,) (89,)

###**(b)** Use scikit-learn’s Logistic Regression model linear model.LinearRegression() to train a model using the training set. What are the coefficients (including the intercept) that you get from the model? What is the coefficient of determination (R2) of the model?

In [ ]:
# Training model
model = linear_model.LinearRegression().fit(Xtrain, ytrain)

# Giá trị coefficients
B0 = model.intercept_
B_features = model.coef_

print(f"Giá trị Intercept : {B0}")
print(f"Giá trị Coef ứng với mỗi feature: {B_features}")

Giá trị Intercept : 152.8957921786411
Giá trị Coef ứng với mỗi feature: [ -53.93018274 -228.98080046  535.28575731  350.37336183 -736.26525692
  427.46643484   94.82413254  184.24112144  721.94405061  115.4600179 ]

In [ ]:
# Coefficient of determination (R2) of the model?
train_pre = model.predict(Xtrain)
test_pre = model.predict(Xtest)
r2_train = r2_score(ytrain, model.predict(Xtrain))
r2_test = r2_score(ytest, model.predict(Xtest))

print("Coefficient of determination on trainset: ", r2_train)
print("Coefficient of determination on testset: ", r2_test)

Coefficient of determination on trainset:  0.5424703261420212
Coefficient of determination on testset:  0.38526246112295326

###**(c)** Calculate the Mean Squared Error of the model on the test set.

In [ ]:
MSE = mean_squared_error(ytest, test_pre)
print("Mean Squared Error of the model on the test set: ", MSE)

Mean Squared Error of the model on the test set:  3108.2401194115696

###**(d)** Use l_2 regularization (linear model.Ridge()) with parameter alpha in the list [0.001, 0.01, 0.1, 1, 10, 100, 1000]. Calculate the Mean Squared Error of the model on the test set for each value of alpha

In [ ]:
alpha = [0.001, 0.01, 0.1, 1, 10, 100, 1000]

# Hàm trả về MSE cho mỗi alpha chả model Ridge
def MyRidge(alpha, Xtrain, Xtest, ytrain, ytest):
  model = Ridge(alpha=alpha).fit(Xtrain, ytrain)
  y_pre = model.predict(Xtest)
  return round(mean_squared_error(ytest, y_pre), 3)

for i in alpha: 
  print(f"alpha = {i}; MSE = {MyRidge(i, Xtrain, Xtest, ytrain, ytest)}:")

alpha = 0.001; MSE = 3109.917:
alpha = 0.01; MSE = 3119.633:
alpha = 0.1; MSE = 3120.66:
alpha = 1; MSE = 3384.682:
alpha = 10; MSE = 4429.874:
alpha = 100; MSE = 4999.235:
alpha = 1000; MSE = 5083.183:

###**(e)** Use l 1 regularization (linear model.Lasso()) with parameter alpha in the list [0.001, 0.01, 0.1, 1, 10, 100, 1000]. Calculate the Mean Squared Error of the model on the test set for each value of alpha.

In [ ]:
alpha = [0.001, 0.01, 0.1, 1, 10, 100, 1000]


# Hàm trả về MSE cho mỗi alpha chả model Lasso
def MyLasso(alpha, Xtrain, Xtest, ytrain, ytest):
  model = Lasso(alpha=alpha).fit(Xtrain, ytrain)
  y_pre = model.predict(Xtest)
  return round(mean_squared_error(ytest, y_pre), 3)

for i in alpha:
  print(f"alpha = {i}; MSE = {MyLasso(i, Xtrain, Xtest, ytrain, ytest)}:")

alpha = 0.001; MSE = 3108.548:
alpha = 0.01; MSE = 3116.556:
alpha = 0.1; MSE = 3083.442:
alpha = 1; MSE = 3495.662:
alpha = 10; MSE = 5092.954:
alpha = 100; MSE = 5092.954:
alpha = 1000; MSE = 5092.954: